<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>

    <settings>
        <!-- todo setting cache -->
        <setting name="cacheEnabled" value="false"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 实体返回主键,因为加密组件的原因，此特性不允许打开 -->
        <setting name="useGeneratedKeys" value="false" />
    </settings>
    <plugins>
<!--        <plugin interceptor="com.github.pagehelper.PageInterceptor">-->
<!--            <property name="helperDialect" value="mysql"/>-->
<!--            <property name="reasonable" value="false"/>-->
<!--        </plugin>-->

        <!-- 基于原有的MPBatchEncPlugin MPBatchDecPlugin fixBug -->
<!--        <plugin interceptor="com.sfpay.fmp.common.configure.plugins.MPBatchEncryptPlugin"></plugin>-->
<!--        <plugin interceptor="com.sfpay.fmp.common.configure.plugins.MPBatchDecryptPlugin"></plugin>-->
    </plugins>
</configuration>